footer#contacts(data-id="#contacts")
  .footer-top
    .footer-info
      .footer-info-row.footer-head
        .footer-info-title Контакты
        .footer-info-btnUp
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5554 22L11.5554 2M11.5554 2L1.00027 12M11.5554 2L21 12" stroke-width="2"/>
          </svg>
      .footer-info-bottom-row
        .footer-info-row-left
          .footer-info-col.footer-email-tell
            a(href="tel:+905302582222")
              span +90 (530) 258 22 22
            a(href="mailto:info@zodiacdom.ru")
              span info@zodiacdom.ru
          .footer-info-col
              p Mahmutlar, 135. Cd. No: 14, 07450 Alanya/Antalya
              a(href="#" target="_blank").transparent-btn.white-btn
                span
                  span Показать на карте
        ul.footer-social
          li
            a(href="#" target="_blank")
              span.desk FaceBook
              .mob
                <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.5" cy="21" r="20.5" stroke="white"/>
                <path d="M26 14.8208H26.5V14.3208V11.1408V10.7049L26.0681 10.6455C25.7275 10.5986 24.6213 10.5 23.3402 10.5C21.9183 10.5 20.6706 10.9494 19.7786 11.8581C18.8868 12.7665 18.4048 14.0784 18.4048 15.6992V18H16H15.5V18.5V22.055V22.555H16H18.4048V31V31.5H18.9048H22.4661H22.9661V31V22.5558H25.2534H25.695L25.7496 22.1176L26.192 18.5626L26.2619 18.0008H25.6959H22.9653V16.0521C22.9657 15.5577 23.0387 15.2789 23.1707 15.117C23.2834 14.9789 23.53 14.8208 24.1743 14.8208H26Z" stroke="white"/>
                </svg>
          li
            a(href="#" target="_blank")
              span.desk Instagram
              .mob
                <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.5" cy="21" r="20.5" stroke="white"/>
                <path d="M28.5339 14.4712C28.0918 14.0229 27.5566 13.6742 26.969 13.4529C26.412 13.2377 25.7822 13.0911 24.8826 13.0514C24.002 13.0096 23.718 13 21.5031 13C19.2877 13 19.0047 13.0096 18.1276 13.0481C17.228 13.0878 16.5947 13.2344 16.04 13.4498C15.4469 13.6741 14.9145 14.0194 14.4714 14.4721M28.5339 14.4712L28.5315 14.4688L28.2873 14.7186L28.5363 14.4736L28.5339 14.4712ZM28.5339 14.4712C28.9867 14.9141 29.3321 15.4465 29.5564 16.0393C29.772 16.5941 29.9185 17.2272 29.9582 18.1266C29.9967 19.0046 29.9999 19.2888 29.9999 21.5016C29.9999 23.7166 29.9904 23.9996 29.9518 24.8765C29.9121 25.7771 29.7651 26.4072 29.5497 26.9647C29.0906 28.1518 28.1518 29.0905 26.9644 29.5496M26.9644 29.5496L26.8381 29.224M26.9644 29.5496C26.4094 29.7655 25.7758 29.9122 24.8757 29.9518C23.9985 29.9905 23.7154 29.9999 21.5 29.9999C19.2846 29.9999 19.0015 29.9905 18.1244 29.9518C17.2243 29.9122 16.5946 29.7655 16.0373 29.5503C15.4495 29.3289 14.9142 28.9801 14.4719 28.5316M14.4719 28.5316L14.4738 28.5334L14.719 28.2845L14.47 28.5296L14.4719 28.5316ZM14.4719 28.5316C14.0236 28.0897 13.6748 27.5579 13.45 26.9639C13.2345 26.4091 13.0878 25.776 13.0481 24.8766C13.0096 23.9996 13 23.7166 13 21.5016C13 19.2871 13.0096 19.0032 13.0514 18.1228C13.0911 17.2233 13.2377 16.5938 13.4529 16.0367C13.6744 15.4493 14.023 14.9142 14.4714 14.4721M14.4714 14.4721L14.4691 14.4745L14.719 14.7186L14.4738 14.4697L14.4714 14.4721Z" stroke="white"/>
                <path d="M17.9736 21.4999C17.9736 19.5532 19.5533 17.9736 21.4999 17.9736C23.4467 17.9736 25.0262 19.5531 25.0262 21.4999C25.0262 23.4467 23.4467 25.0262 21.4999 25.0262C19.5533 25.0262 17.9736 23.4467 17.9736 21.4999Z" stroke="white"/>
                <path d="M25.1315 16.5785C25.1315 15.8663 25.7088 15.2891 26.4209 15.2891C27.133 15.2891 27.7104 15.8663 27.7104 16.5785C27.7104 17.2906 27.133 17.868 26.4209 17.868C25.7088 17.868 25.1315 17.2906 25.1315 16.5785Z" stroke="white"/>
                </svg>
          li
            a(href="#" target="_blank")
              span.desk Youtube
              .mob
                <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.5" cy="21" r="20.5" stroke="white"/>
                <path d="M30.5842 14.768L30.5842 14.768C29.8936 14.0179 29.1231 13.9257 28.7009 13.8767L30.5842 14.768ZM30.5842 14.768L30.5871 14.7712M30.5842 14.768L30.5871 14.7712M30.5871 14.7712C30.8565 15.0587 31.0503 15.523 31.1776 15.9875C31.3012 16.438 31.3448 16.8215 31.3519 16.8906L31.3523 16.8949C31.361 16.9951 31.4999 18.6148 31.5001 20.2364C31.5001 20.2364 31.5001 20.2364 31.5001 20.2364V21.7902C31.5001 23.3981 31.3633 25.0043 31.3526 25.1289L31.3512 25.1414C31.342 25.216 31.2918 25.5886 31.1676 26.0263C31.0378 26.4834 30.8456 26.9435 30.5867 27.2306L30.5847 27.2328C29.9044 27.9965 29.1534 28.0791 28.7426 28.1236C28.7042 28.1276 28.6621 28.1321 28.6223 28.1374L28.6012 28.1396C27.2702 28.2381 25.596 28.2944 24.2432 28.3261C23.5666 28.342 22.9725 28.3516 22.5451 28.3573C22.3314 28.3601 22.1594 28.362 22.0397 28.3631L21.9007 28.3643L21.8632 28.3646L21.8529 28.3647L21.8493 28.3647L21.8493 28.3646L21.8439 28.3647C21.5977 28.3611 16.801 28.2871 15.2664 28.1399L15.2383 28.136C15.1767 28.1254 15.0987 28.1163 15.0308 28.1084L15.0157 28.1067C14.4983 28.0462 13.6982 27.9443 13.0631 27.2352L13.0631 27.2351L13.0564 27.2278C12.787 26.9388 12.5941 26.4793 12.4675 26.0229C12.3446 25.5796 12.3011 25.2037 12.2941 25.1362L12.2935 25.1305C12.2837 25.0176 12.146 23.4047 12.146 21.7902V20.2364C12.146 18.628 12.2826 17.0213 12.2933 16.8977L12.2947 16.8855C12.304 16.81 12.3542 16.4376 12.4784 16.0002C12.6082 15.543 12.8003 15.083 13.0591 14.7961L13.0591 14.7961L13.0611 14.7938C13.7552 14.0148 14.5151 13.9245 14.9272 13.876L14.9277 13.8759M30.5871 14.7712L14.9277 13.8759M14.9277 13.8759C14.933 13.8753 14.9384 13.8747 14.944 13.874C14.9691 13.871 14.9973 13.8677 15.0239 13.8642L15.0446 13.862M14.9277 13.8759L15.0446 13.862M28.5974 13.8642L28.5767 13.8619C27.2457 13.7635 25.5714 13.7071 24.2186 13.6755C23.542 13.6596 22.9478 13.65 22.5204 13.6443C22.3067 13.6415 22.1347 13.6396 22.015 13.6385L21.876 13.6372L21.8385 13.637L21.8282 13.6369L21.8246 13.6369L28.5974 13.8642ZM28.5974 13.8642C28.6312 13.8687 28.6671 13.8728 28.7008 13.8767L28.5974 13.8642ZM15.0446 13.862C16.3879 13.7635 18.0684 13.7071 19.4242 13.6755C20.1024 13.6596 20.6973 13.65 21.1251 13.6443C21.339 13.6415 21.5111 13.6396 21.6308 13.6385L21.7698 13.6372L21.8074 13.637L21.8177 13.6369L21.8213 13.6369L15.0446 13.862Z" stroke="white"/>
                <path d="M20.1035 23.6952L20.1033 23.6953L24.8421 20.749C24.9656 20.8126 25.0239 20.9224 25.0237 21.0237C25.0232 21.1255 24.9638 21.2352 24.8398 21.298L20.1035 23.6952ZM20.106 18.3098L24.8421 20.749L19.7174 18.3158C19.8378 18.2487 19.9822 18.2461 20.106 18.3098C20.106 18.3098 20.106 18.3098 20.106 18.3098ZM19.5474 18.5836C19.5474 18.4829 19.5995 18.3816 19.7173 18.3158L19.716 23.6871C19.5993 23.6215 19.5474 23.5203 19.5474 23.4202V18.5836Z" stroke="white"/>
                </svg>
          li
            a(href="#" target="_blank")
              span.desk Tiktok
              .mob
                <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.5" cy="21" r="20.5" stroke="white"/>
                <path d="M22.0064 10.4995H21.5064V10.9995V24.6123C21.5064 26.1556 20.2171 26.9503 19.3132 26.9503C18.9937 26.9503 18.4068 26.8112 17.9094 26.4359C17.4345 26.0775 17.0391 25.5049 17.0391 24.5913C17.0391 23.6042 17.419 23.04 17.863 22.7077C18.331 22.3574 18.917 22.2323 19.3354 22.2323C19.5883 22.2323 19.7494 22.2602 19.836 22.2817C19.8772 22.2919 19.902 22.3008 19.9122 22.3047L20.6422 22.7164V21.8604V18.2289V17.8001L20.2185 17.7347L20.1422 18.2289L20.2184 17.7347L20.2183 17.7347L20.218 17.7347L20.2175 17.7346L20.2158 17.7343L20.2107 17.7336L20.1931 17.731C20.1783 17.7289 20.1572 17.726 20.1307 17.7225C20.0777 17.7157 20.0026 17.7067 19.9114 17.6977C19.7298 17.6799 19.4797 17.6617 19.2101 17.6617C15.3237 17.6617 12.5997 20.926 12.5997 24.5913C12.5997 27.6824 14.931 31.5 19.2727 31.5C21.5593 31.5 23.2466 30.5029 24.3514 29.1361C25.4449 27.7835 25.966 26.0739 25.966 24.6123V18.7373C26.1317 18.8234 26.321 18.9149 26.5312 19.0064C27.364 19.3688 28.5418 19.7365 29.9001 19.7365H30.4001V19.2365V15.796V15.3317L29.9371 15.2974C28.5958 15.1979 27.6033 14.6862 26.9315 13.9385C26.2553 13.1861 25.8718 12.1584 25.822 10.9784L25.8017 10.4995H25.3224H22.0064Z" stroke="white"/>
                </svg>
          li
            a(href="#" target="_blank")
              span.desk VKontakte
              .mob
                <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.5" cy="21" r="20.5" stroke="white"/>
                <path d="M31.0598 27.4499L31.0477 27.4501L28.2784 27.4886C28.2759 27.489 28.2733 27.4893 28.2706 27.4896C28.2397 27.4933 28.1993 27.497 28.1503 27.4988C28.0524 27.5024 27.9201 27.4989 27.761 27.4743C27.4405 27.4247 27.0199 27.2912 26.5592 26.973C26.2504 26.7608 25.9621 26.476 25.7032 26.1956C25.5558 26.0359 25.3973 25.8542 25.2481 25.6832C25.1467 25.5669 25.0496 25.4556 24.9632 25.3595C24.7272 25.0969 24.5312 24.9009 24.3643 24.7838C24.2506 24.7039 24.1953 24.6917 24.1795 24.6901C24.1474 24.7029 24.0908 24.7414 24.0236 24.862C23.9511 24.992 23.8939 25.1702 23.8532 25.3712C23.8134 25.5679 23.7941 25.7621 23.785 25.9095C23.7805 25.9824 23.7786 26.042 23.7779 26.0825C23.7775 26.1027 23.7774 26.118 23.7774 26.1277L23.7774 26.1379L23.7774 26.1387L23.7774 26.1392L23.7774 26.1394L23.7774 26.1396L23.7774 26.1396L23.7775 26.1418L23.7775 26.1494L23.7773 26.1701C23.7769 26.1862 23.7761 26.207 23.7743 26.2315C23.7708 26.2801 23.7634 26.3464 23.7473 26.4222C23.717 26.5659 23.6468 26.7866 23.4724 26.9757L23.4714 26.9768C23.2641 27.2001 22.9906 27.2734 22.8319 27.3011C22.7442 27.3164 22.6667 27.322 22.6109 27.3239C22.5826 27.3248 22.5588 27.3249 22.5408 27.3246L22.5237 27.3241H21.2924L21.2699 27.3255C21.2435 27.3268 21.2068 27.3282 21.1606 27.329C21.0682 27.3305 20.9376 27.3293 20.7749 27.3193C20.4497 27.2994 19.9947 27.2443 19.4601 27.1046C18.3888 26.8247 16.9999 26.205 15.7054 24.8557L15.7053 24.8555C14.3268 23.4173 13.0488 21.3051 12.125 19.5821C11.6602 18.7152 11.2795 17.9362 11.0149 17.3738C10.8826 17.0924 10.7791 16.8649 10.7085 16.7073C10.6732 16.6284 10.6462 16.567 10.6278 16.5251L10.6068 16.477L10.6014 16.4643L10.5999 16.461L10.5995 16.46L10.5994 16.4597C10.5993 16.4596 10.5993 16.4595 11.0588 16.2623L10.5993 16.4595L10.5944 16.4481L11.0585 16.2625C10.5945 16.4481 10.5945 16.4479 10.5944 16.4478L10.5943 16.4475L10.5941 16.447L10.5936 16.4458L10.5925 16.443L10.5897 16.4358L10.5822 16.4151C10.5763 16.3987 10.5689 16.3769 10.561 16.3507C10.5455 16.2995 10.5262 16.2262 10.5136 16.1413C10.4936 16.0073 10.4644 15.6843 10.6831 15.4209L10.6875 15.4156L10.6875 15.4156C10.8909 15.1775 11.1994 15.1037 11.3422 15.0759C11.4317 15.0585 11.5122 15.0496 11.5698 15.0449C11.5991 15.0426 11.6235 15.0412 11.6416 15.0404L11.664 15.0396L11.6714 15.0395L11.6741 15.0394L11.6752 15.0394L11.6757 15.0394L11.6759 15.0394C11.676 15.0394 11.6761 15.0394 11.6828 15.5393L11.6761 15.0394L11.6803 15.0393L11.6803 15.0393L14.6806 15.0243L14.7254 15.0241L14.7696 15.0319L14.6831 15.5243C14.7696 15.0319 14.7696 15.0319 14.7697 15.0319L14.7699 15.0319L14.7704 15.032L14.7713 15.0322L14.7734 15.0326L14.779 15.0336L14.7951 15.0367C14.8079 15.0393 14.8248 15.043 14.8451 15.0477C14.8854 15.0573 14.9405 15.0717 15.0038 15.0922C15.1243 15.1312 15.3024 15.2012 15.4653 15.321L15.4662 15.3217C15.6249 15.4389 15.7304 15.5902 15.7894 15.6873C15.8213 15.7398 15.8457 15.7866 15.8625 15.8212C15.871 15.8387 15.8778 15.8535 15.8828 15.8649L15.8892 15.8794L15.8914 15.8847L15.8922 15.8868L15.8926 15.8877L15.8928 15.8881L15.8929 15.8883C15.8929 15.8884 15.893 15.8885 15.4302 16.0778L15.893 15.8885L15.8954 15.8944L15.8953 15.8944L15.8955 15.8948L15.8963 15.8969L15.9001 15.9063L15.9156 15.9449C15.9295 15.9791 15.9502 16.0297 15.9772 16.0942C16.0312 16.2231 16.11 16.4072 16.2086 16.6254C16.4064 17.0634 16.6808 17.6324 16.9912 18.1691L16.9912 18.1691C17.6168 19.2512 18.0491 19.8634 18.3562 20.1752C18.4599 20.2805 18.5333 20.3346 18.5787 20.3616C18.606 20.3038 18.6357 20.2168 18.6633 20.0971C18.7231 19.8377 18.7563 19.5003 18.7714 19.1498C18.7863 18.8038 18.7827 18.4652 18.7751 18.2116C18.7714 18.0853 18.7667 17.9811 18.763 17.9089C18.7612 17.8729 18.7595 17.8449 18.7584 17.8262L18.7571 17.8054L18.7568 17.8005L18.7567 17.7994L18.7567 17.7994L18.7567 17.7993L18.7567 17.7993L18.7554 17.7794L18.7556 17.7599L18.7556 17.7598L18.7556 17.7596L18.7556 17.7595L18.7556 17.7593L18.7556 17.7591L18.7556 17.7536L18.7555 17.7274C18.7552 17.7037 18.7545 17.6681 18.7528 17.6235C18.7492 17.5338 18.7415 17.4107 18.7249 17.2767C18.6879 16.9786 18.6193 16.7375 18.5406 16.6304L18.5404 16.6301C18.488 16.5587 18.3974 16.4939 18.2715 16.4427C18.1481 16.3924 18.0235 16.3687 17.9493 16.3596L17.9447 16.359L17.9447 16.359C17.8169 16.342 17.6455 16.274 17.5387 16.0965C17.4434 15.9383 17.4542 15.7808 17.469 15.698C17.4977 15.5378 17.5852 15.4046 17.6458 15.3241C17.7824 15.1428 18.0012 14.9476 18.2564 14.8221L18.2574 14.8216C18.6147 14.6469 19.0656 14.5718 19.5279 14.5352C19.9994 14.4978 20.5398 14.4971 21.1024 14.5023L21.1029 14.5023C22.0122 14.5117 22.3047 14.5691 22.6902 14.6637C23.0303 14.7464 23.3239 14.9067 23.525 15.1958C23.7139 15.4675 23.7766 15.7914 23.7997 16.1043C23.823 16.4194 23.8097 16.7953 23.7932 17.2086C23.7919 17.2421 23.7905 17.2761 23.7892 17.3104C23.7731 17.7087 23.755 18.1609 23.755 18.6834C23.755 18.8337 23.7509 18.977 23.747 19.1156C23.7397 19.3729 23.7329 19.6144 23.7532 19.8562C23.7733 20.0955 23.8157 20.2324 23.8572 20.3095C23.8887 20.2873 23.9291 20.2557 23.9789 20.2107C24.2649 19.952 24.725 19.3775 25.4205 18.1919L25.4208 18.1913C25.7406 17.6481 26.0234 17.0514 26.2278 16.5857C26.3295 16.3539 26.4107 16.1569 26.4664 16.0184C26.4942 15.9491 26.5155 15.8946 26.5298 15.8577L26.5458 15.8161L26.5497 15.8059L26.5505 15.8036L26.5507 15.8033L26.5507 15.8032L26.5507 15.8032L26.5507 15.8032L26.5572 15.7859L26.5649 15.7691L27.0188 15.9788C26.5649 15.7691 26.565 15.769 26.565 15.7689L26.5651 15.7687L26.5653 15.7683L26.5657 15.7674L26.5667 15.7654L26.5692 15.7601L26.5763 15.7456C26.5819 15.7342 26.5896 15.7194 26.5991 15.7018C26.6179 15.6672 26.6451 15.6201 26.6803 15.568C26.7433 15.4746 26.8621 15.3186 27.0398 15.2116M31.0598 27.4499L27.2979 15.6398M31.0598 27.4499L31.0719 27.4492M31.0598 27.4499L31.0719 27.4492M27.0398 15.2116C27.0399 15.2115 27.04 15.2115 27.0401 15.2114L27.2979 15.6398M27.0398 15.2116C27.0397 15.2116 27.0396 15.2117 27.0395 15.2117L27.2979 15.6398M27.0398 15.2116C27.2248 15.1 27.4182 15.0726 27.5368 15.0654C27.6007 15.0615 27.6558 15.0628 27.696 15.0652C27.7087 15.0659 27.7201 15.0668 27.7302 15.0677M27.2979 15.6398C27.4719 15.5348 27.7059 15.5678 27.7059 15.5678M27.7302 15.0677L27.7028 15.0678L27.7059 15.5678M27.7302 15.0677C27.7363 15.0682 27.7419 15.0687 27.747 15.0693L27.7643 15.0712L27.7708 15.072L27.7734 15.0724L27.7746 15.0726L27.7752 15.0726L27.7755 15.0727C27.7756 15.0727 27.7757 15.0727 27.7059 15.5678M27.7302 15.0677L30.836 15.0485M27.7059 15.5678L32.4368 15.6955C32.336 15.4152 32.1163 15.26 31.9343 15.1779C31.7538 15.0966 31.5604 15.0628 31.4062 15.0476C31.247 15.0318 31.0986 15.0331 30.9926 15.0377C30.9388 15.04 30.8939 15.0433 30.8615 15.0461C30.8519 15.047 30.8434 15.0478 30.836 15.0485M30.836 15.0485C30.8309 15.049 30.8264 15.0494 30.8224 15.0499L30.8105 15.0512L30.8066 15.0516L30.8051 15.0518L30.8045 15.0518L30.8043 15.0519C30.8041 15.0519 30.804 15.0519 30.8637 15.5483L30.8606 15.0483L30.836 15.0485ZM31.0719 27.4492L31.0407 26.9501M31.0719 27.4492L31.0407 26.9501M31.0407 26.9501C31.0719 27.4492 31.0721 27.4492 31.0723 27.4491L31.0727 27.4491L31.0737 27.4491L31.0762 27.4489L31.0826 27.4484L31.1019 27.4468C31.1174 27.4454 31.1382 27.4433 31.1634 27.4402C31.2135 27.4341 31.2823 27.4238 31.362 27.4071C31.515 27.3749 31.7371 27.3128 31.9441 27.1889C32.1539 27.0635 32.3915 26.8467 32.4726 26.4984C32.5526 26.1546 32.4533 25.7969 32.2424 25.4455C32.2419 25.4446 32.2403 25.4416 32.2369 25.4355L32.2128 25.3917C32.1918 25.3539 32.1632 25.3039 32.1252 25.242C32.0491 25.1181 31.938 24.9513 31.7758 24.7394C31.4518 24.3164 30.9253 23.7156 30.0685 22.9193L30.0684 22.9193M31.0407 26.9501L30.0684 22.9193M30.0684 22.9193L30.0618 22.9131C29.6096 22.4929 29.3363 22.2389 29.1767 22.0319C29.0389 21.8531 29.0486 21.791 29.0602 21.736C29.0867 21.61 29.1927 21.4079 29.4913 21.0012C29.6375 20.802 29.8036 20.587 29.9998 20.3332C30.2041 20.0687 30.441 19.762 30.7222 19.3869M30.0684 22.9193L30.7222 19.3869M30.7222 19.3869C31.3742 18.5174 31.8457 17.7974 32.135 17.225M30.7222 19.3869L32.135 17.225M32.135 17.225C32.2795 16.9392 32.387 16.6739 32.4451 16.434M32.135 17.225L32.4451 16.434M32.4451 16.434C32.5013 16.2021 32.5248 15.9403 32.4369 15.6959L32.4451 16.434ZM24.1768 24.6899C24.1753 24.6901 24.1745 24.6901 24.1745 24.69C24.1745 24.69 24.1752 24.6899 24.1768 24.6899Z" stroke="white"/>
                </svg>
          li
            a(href="#" target="_blank")
              span.desk Telegram
              .mob
                <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.5" cy="21" r="20.5" stroke="white"/>
                <path d="M19.8478 23.5451L19.517 28.0122C19.9903 28.0122 20.1953 27.817 20.4412 27.5826L22.6604 25.5467L27.2588 28.7794C28.1022 29.2306 28.6964 28.993 28.9239 28.0346L31.9423 14.4571L31.9431 14.4563C32.2106 13.2595 31.4923 12.7915 30.6706 13.0851L12.9285 19.6059C11.7176 20.0571 11.736 20.7051 12.7227 20.9987L17.2586 22.3531L27.7947 16.0243C28.2905 15.7091 28.7414 15.8835 28.3705 16.1987L19.8478 23.5451Z" stroke="white"/>
                </svg>

    .footer-form-wrapper(data-form data-disable-page-scroll)
      .footer-form-bg
      .call-popup-info
        form(data-footer-form autocomplete="off")
          .form-title
            p Обратная связь
          .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
            input(type='text' name="name" placeholder="Имя").form-field__input
            .input-message(data-input-message)
          .form-field.disabled.form-field-input(data-field-input data-field-mail data-status="field--inactive")
            input(type='text' name="mail" placeholder="E-mail").form-field__input
            .input-message(data-input-message)
          button( type="submit" data-btn-submit).submit-btn.link.red-btn
            span
              span(data-btn-submit-text) Отправить
  .footer-bottom
    .footer-bottom__text
      p © 2022 ЖК “Terra Rossa”. Все права защищены
    a(href="#" target="_blank").smarto-logo
      img(src="./assets/images/smarto-logo.svg")

