.gallery-beckdrop
    .gallery__big-swiper-wrapper
      .big-swiper_gallery
        .swiper-wrapper
          .swiper-slide.gallery__swiper-slide
            img(src="./assets/images/gallery-popup/1.png", alt="")
          .swiper-slide.gallery__swiper-slide
            img(src="./assets/images/gallery-popup/2.png", alt="")
          .swiper-slide.gallery__swiper-slide
            img(src="./assets/images/gallery-popup/3.png", alt="")

      .big-swiper-pagination.swiper-pagination
      .big-swiper-gallery__wrappper-buttom
          .big-swiper-gallery-swiper-left
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22 11.5554L2 11.5554M2 11.5554L12 1.00027M2 11.5554L12 21" stroke-width="2"/>
            </svg>
          .big-swiper-gallery-swiper-right
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-4.12836e-07 11.5554L20 11.5554M20 11.5554L10 1.00027M20 11.5554L10 21" stroke-width="2"/>
            </svg>
      .btn-close-gallery.js-close-big-gallery(type="button")
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 13L13 1M1 1L13 13" stroke-width="2"/>
        </svg>
