.menu(data-menu)
    ul.js-menu-main
      li
        a(href="#main")
          span Главная
      li
        a(href="#about")
          span О нас
      li
        a(href="#infrastructure")
          span Инфраструктура
      li
        a(href="#apartments")
          span Квартиры
      li
        a(href="#gallery")
          span Галерея
      li
        a(href="#contacts")
          span Контакты
    .menu-close(data-close-menu)
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 13L13 1M1 1L13 13" stroke="#E3EBF3" stroke-width="2"/>
      </svg>

