footer {
  background: $dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 150px 0 0;
  @include to(1180px) {
    padding: 100px 0 0;
  }
  @include to(680px) {
    padding: 40px 0 0;
  }
  .footer-top {
    display: grid;
    grid-template-columns: var(--fields80) 12fr 40px 12fr var(--fields80);
    grid-template-areas: '. footer-top-left . footer-top-right';
    width: 100%;
    margin-bottom: 100px;
    @include to(1180px) {
      grid-template-columns: var(--fields80) 1fr var(--fields80);
      grid-template-rows: auto auto;
      row-gap: 40px;
      grid-template-areas: '. footer-top-left .'
      '. footer-top-right .';
    }
    @include to(680px) {
      margin-bottom: 40px;
    }
    .footer-info {
      grid-area: footer-top-left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      color: $grey;
      &-title {
        @include font-regular;
        font-size: var(--title-font2);
        text-transform: uppercase;
      }
      &-btnUp {
        border: 1px solid $grey;
        height: var(--arrow-btn);
        width: var(--arrow-btn);
        border-radius: 100%;
        display: flex;
        align-items: center;
        background: rgba(173, 202, 222, 0.1);
        justify-content: center;
        cursor: pointer;
        svg {
          stroke: $grey;
          transform: scale(1);
          transition: transform .3s ease-in-out;
        }
        @include from(1023px) {
          &:hover {
            svg {
              transform: scale(1.2);
              transition: transform .3s ease-in-out;
            }
          }
        }
      }
      .footer-info-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
      }
      .footer-info-bottom-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .footer-info-col-top {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 40px 0 16px 0;
        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: $grey;
          font-size: var(--font20);
          text-transform: uppercase;
          gap: 12px;
          transition: color .3s ease-in-out;
          .svg {
            height: var(--arrow-btn);
            width: var(--arrow-btn);
            border: 1px solid $grey;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(173, 202, 222, 0.1);
            svg {
              transform: scale(1);
              transition: transform .3s ease-in-out;
            }
          }
          @include from(1023px) {
            &:hover {
              color: $wc;
              transition: color .3s ease-in-out;
              .svg {
                svg {
                  transform: scale(1.2);
                  transition: transform .3s ease-in-out;
                }
              }
            }
          }
        }
      }
      .footer-email-tell {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 45%;
        gap: 16px;
      }
      .footer-location {
        width: 45%;
        p {
          width: 80%;
        }
      }
      .footer-social {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        a {
          height: var(--arrow-btn);
          width: var(--arrow-btn);
          border: 1px solid $grey;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(173, 202, 222, 0.1);
          svg {
            transform: scale(1);
            transition: transform .3s ease-in-out;
          }
          @include from(1023px) {
            &:hover {
              svg {
                transform: scale(1.2);
                transition: transform .3s ease-in-out;
              }
            }
          }
        }
      }
    }
    .footer-form-wrapper {
      grid-area: footer-top-right;
    }
  }
  .footer-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    width: 100%;
    position: relative;
    border: 10px solid $dark;
    border-image: url("../../assets/images/footer-form-bg.png") 10;
    .call-popup-info {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: $dark;
    }
    form {
      width: 100%;
      align-items: flex-start;
      padding: 40px 60px;
      @include to(680px) {
        padding: 20px 40px;
      }
      .form-field__input {
        height: 60px;
        border-bottom: 2px solid #4D5A66;;
      }
      .submit-btn {
        z-index: 1;
        margin-top: 40px;
      }
      .form-field__input {
        color: $grey;
        &::placeholder {
          color: $grey;
        }
      }
      [data-animation=none] .input-message {
        bottom: -4px;
      }
      [data-field-input][data-status=field--success]:not(#r) {
        border-bottom: none;
      }
      [data-field-input][data-status=field--error]:not(#r) {
        border-bottom: none;
      }
      .form-field:not(#t) {
        @include to(1600px) {
          margin: 30px 0 0;
        }
      }
    }
    .form-title {
      font-size: var(--font32);
      color: $grey;
      z-index: 1;
      p {
        &:first-letter {
          color: $grey;
        }
      }
    }
  }
  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--fields80);
    &__text {
      @include font-regular;
      color: $wc;
      font-size: 16px;
    }
    .smarto-logo {
      height: 71px;
      width: 64px;
      @include to(680px) {
        width: 71px;
      }
    }
  }
}
